<html>

<head>
<!-- JQuery/AJAX -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- CSS -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

<!-- JQuery/AJAX needed to refresh image -->
<script type=text/javascript>
//Script root used instead of url_for directly for dynamic paths
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

//Refresh image on click by capturing a new image
$(function() {
  $('#captureImage').bind('click', function() {
    $.getJSON($SCRIPT_ROOT + '/image/capture',
      //Send resolution to Flask
      {resolution: $('input[name="resolution"]:checked').val()},
      function(data)
      {
        //The path returned was computed from the parent.
        $('img#capture').attr('src', '../'+data.result+'?'+Math.random());

        //Adjust image width and heith depending on format (4:3 or 16:9)
        var format = $('input[name="resolution"]:checked').attr('class');
        if(format == "format_43")
        {
          $('img#capture').attr('width', '640').attr('height', '480');
        }
        else if(format == "format_169")
        {
          $('img#capture').attr('width', '800').attr('height', '450');
        }
      });
    return false;
  });
});
</script>

</head>
<body>

<h1>Image</h1>

<img id=capture alt="capture"/>
<p><a href=# id=captureImage>Capture image</a></p>

<p>Resolution:</p>
<input type="radio" name="resolution" value="640x480" class="format_43" checked> 640x480 4:3<br>
<input type="radio" name="resolution" value="1296x730" class="format_169"> 1296x730 16:9<br>
<input type="radio" name="resolution" value="1296x972" class="format_43"> 1296x972 4:3<br>
<input type="radio" name="resolution" value="2592x1944" class="format_43"> 2592x1944 4:3<br>
<input type="radio" name="resolution" value="1920x1080" class="format_169"> 1920x1080 16:9<br>

</body>
</html>
